body, html {
  padding: 0;
  margin: 0;
  background-color: #e4e4e4;
}

.app {
  text-align: center;
  width: 320px;
  height: 480px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.section {
  margin: 0 8px 0 8px;
  font-size: 34px;
}

.info h2 {
  margin: 0 0 12px 0;
  padding: 0;
}

.section p {
  color: #000;
  font-weight: bold;
  margin: 0 0 4px 0;
  padding: 0;
}

.section img {
  width: 80px;
  height: 80px;
  animation: app-logo-spin 2s infinite;
  transform-origin: 50% 100% 0;
}

@keyframes app-logo-spin {
  0%, 100%{ transform: rotate(-8deg);}
  50%{ transform: rotate(6deg); }
}
