body, html {
  padding: 0;
  margin: 0;
  background-color: #e4e4e4;
  
  /* we dont need this */
  cursor: none;
}

.app {
  position: relative;
  text-align: center;
  width: 320px;
  height: 480px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.info h1 {
  margin: 0 0 2px 0;
  padding: 0;
}

.section {
  position: relative;
  width: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 220px;
}

.section p {
  color: #000;
  font-weight: bold;
  margin: 0 0 4px 0;
  padding: 0;
}

.section img {
  width: 128px;
  height: 128px;
  animation: swaying 2s infinite;
  transform-origin: 50% 100% 0;
}

.loading-wrapper {
  position: absolute;
  left: 0;
  top: 40px;
  width: 320px;
  z-index: 999;
  padding: 2px 0 2px 0;
  font-weight: bold;
  background: #ecf75b;
}

.connection-info {
  background: #8662c9;
  text-shadow: 1px 1px #000;
  padding: 0 0 2px 0;
  color: #fff;
}

.connection-info h1 {
  padding: 0;
  margin: 0;
}

.img {
  top: 28px;
  width: 46px;
  width: 46px;
  position: absolute;
  z-index: 999;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

.img-left {
  animation-name: spin;
  left: 0;
}

.img-right {
  right: 0;
  animation-name: spin-reverse;
}

.vendor-info {
  position: absolute;
  height: 130px;
  top: 28px;
  left: 6px;
  overflow-y: scroll;
  width: 320px;
  z-index: 0;
}

.vendor {
  font-weight: bold;
  font-size: 14px;
  text-align: left;
  color: #272627;
}


.debug-menu {
  position: absolute;
  bottom: 0px;
  right: 2px;
  border: 6px;
}


@keyframes swaying {
  0%, 100%{ transform: rotate(-8deg);}
  50%{ transform: rotate(6deg); }
}

@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

@keyframes spin-reverse {
  from {
    transform:rotate(360deg);
  }
  to {
    transform:rotate(0deg);    
  }
}
