body, html {
  padding: 0;
  margin: 0;
  background-color: #e4e4e4;
}

.app {
  text-align: center;
  width: 320px;
  height: 480px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.section {
  margin: 0 8px 12px 8px;

  p {
    color: #000;
    font-weight: bold;
    margin: 0 0 4px 0;
    padding: 0;
  }

  img {
    width: 48px;
    height: 48px;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
